body {
    font-family: sans-serif;
}
header a{
 text-decoration:none;
 border-radius:15px;
 background-color: white;
 padding: 5px;
 
 
 
}
header b{
    color:#000080 ;
    

}
header{
    background-color:#B0E0E6 ;
}
h1{
    color:#8B008B ;
    border-radius: 10px;
    background-color:bisque ;
    border: 2px solid yellow;
}
footer p{
    
    background-color:orange ;
    color: green;
}
footer{
    background-color:blue ;
}
.pir{
    background-color:  red ;
    border-radius: 10px;
}
